:root {
  --wrapper-width: 160px;
  --image-width: 80px;
  --rotate-apply-adjustment: 1;
  --border-color: rgb(159, 179, 249);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--wrapper-width);
  height: var(--wrapper-width);
  border: 3px solid var(--border-color);
  position: relative;
  border-radius: 50%;
}

.userImage {
  border: 8px solid var(--border-color);
  --rotate-degree: calc(360deg / var(--item-count));
  --rotate-adjustment: var(--rotate-degree) / -4;
  --rotate-forward: calc(
    var(--i) * var(--rotate-degree) - var(--rotate-apply-adjustment) *
      var(--rotate-adjustment)
  );
  --rotate-back: calc(
    -1 * var(--i) * var(--rotate-degree) + var(--rotate-apply-adjustment) * var(--rotate-adjustment)
  );
  width: var(--image-width);
  border-radius: 50%;
  position: absolute;
  transform: rotate(var(--rotate-forward))
    translate(calc(-1 * var(--wrapper-width) / 2)) rotate(var(--rotate-back));
}
