:root {
  --wrapper-width: 160px;
  --image-width: 72px;
  /* Just to rotate a little more when image.length is odd, set to 1 when odd. (acts as a boolean) */
  --rotate-apply-adjustment: 1;
  --border-color: #a6b1e3;
  /* rotation offset to work like a ferris wheel, default to 0 */
  --rotate-offset: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--wrapper-width);
  height: var(--wrapper-width);
  border: 3px solid var(--border-color);
  position: relative;
  border-radius: 50%;
}

.userImage {
  border: 8px solid var(--border-color);
  --rotate-degree: calc(360deg / var(--item-count));
  /* Rotate back a little bit to look better. Got the number -1/4 when experimenting on browser */
  --rotate-adjustment-ratio: var(--rotate-degree) / -4;
  /* 1 * ratio means to apply, 0 * ratio mean Not to apply */
  --rotate-adjustment: var(--rotate-apply-adjustment) *
    var(--rotate-adjustment-ratio);

  --ferris-tick: var(--rotate-offset) * 1deg;
  --rotate-forward: calc(
    var(--i) * var(--rotate-degree) - var(--rotate-adjustment) +
      var(--ferris-tick)
  );
  --rotate-back: calc(
    -1 * var(--i) * var(--rotate-degree) + var(--rotate-adjustment) - var(--ferris-tick)
  );
  width: var(--image-width);
  border-radius: 50%;
  position: absolute;
  transform: rotate(var(--rotate-forward))
    translate(calc(-1 * var(--wrapper-width) / 2)) rotate(var(--rotate-back));
}
