:root {
  --wrapper-width: 480px;
  --image-width: 108px;
  /* default: use adjustment */
  --rotate-apply-adjustment: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--wrapper-width);
  height: var(--wrapper-width);
  border: 1px solid gray;
  position: relative;
  border-radius: 50%;
}

.userImage {
  --rotate-degree: calc(360deg / var(--item-count));
  --rotate-adjustment: var(--rotate-degree) / -4;
  /* --rotate-adjustment: 36deg; */
  --rotate-forward: calc(
    var(--i) * var(--rotate-degree) - var(--rotate-apply-adjustment) *
      var(--rotate-adjustment)
  );
  --rotate-back: calc(
    -1 * var(--i) * var(--rotate-degree) + var(--rotate-apply-adjustment) * var(--rotate-adjustment)
  );
  width: var(--image-width);
  border-radius: 50%;
  position: absolute;
  transform: rotate(var(--rotate-forward))
    translate(calc(-1 * var(--wrapper-width) / 2)) rotate(var(--rotate-back));
}
