:root {
  --wrapper-width: 480px;
  --image-width: 108px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--wrapper-width);
  height: var(--wrapper-width);
  border: 1px solid gray;
  position: relative;
  border-radius: 50%;
}

.userImage {
  width: var(--image-width);
  border-radius: 50%;
  position: absolute;
  transform: rotate(calc(var(--i) * (360deg / var(--item-count))))
    translate(calc(var(--wrapper-width) / 2))
    rotate(calc(-1 * var(--i) * (360deg / var(--item-count))));
}
